/* @import "tailwindcss"; */
@import "tailwindcss";


@theme {
  --color-secondary: #2298bc;
  --color-third: #6406a3;
  /* --color-bermuda: #78dcca; */
}

/* @theme {
  --font-main: "Open Sans", sans-serif; 
} */





.logo {
  cursor: pointer;
  animation: logoUp 5s linear infinite;

}


@keyframes logoUp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}